/*Source:; https://css-tricks.com/box-sizing/*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/*html, body, #map-canvas {
height: 100%;
margin: 0;
padding: 0;
}*/


.full-canvas{
    width: 100%;
    margin: 5%;
    float: left;
    box-sizing: border-box;
}
.left-section{
    width: 25%;
    display: inline-block;
    float: left;
}
.right-section{
    width: 65%;
/*    float: left;*/
    display: flex;
    flex-direction:column;
}

.logo{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 2%;
}
.text{
    width:98%;
    margin: 2%;
    display: flex;
    flex-direction:column;
    /*display: inline-block;*/
}

.img-fountain{
    max-width: 75%;
    height: auto;
    margin: 2%;
}
.img-descr{
    width: 95%;
    margin:2%;
}

#map_canvas{
/*    display: block;*/
    width: 600px;
    margin:0 auto;
    height: 100%;
}

.map-text{
    margin: 5%;
/*    display: block;*/
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    color: #3E423A;
    margin:0;
}

h1{
    padding: 10px;
    color: #3E8C84;
    text-align: left;
   }

h2{
    color: #3E8C84;
    text-align: left;
    font-family: Arial, sans-serif;
}

h3{
    color: #3E8C84;
    }

h4{
    margin-bottom: 0;
    margin-top: 0;
}
.right-section a{
    text-decoration: none;
    color: #3E8C84;
}
.right-section a:visited{
    color: #3E8C84;
    text-decoration: none;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3E423A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    }

li {
    float: left;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0F2D4;
}

.active {
    background-color: #3E8C84;
}

.table{
    width: 100%;
    padding-top:8%;
    width: 95%;
    margin:0 auto;
   /* overflow: auto;*/

}

/*alternative colored rows*/
tr:nth-child(odd){
    background-color: #F4F7D9;
}

tr:nth-child(even) {
    background: #A4CFBE;
}
tbody tr{
    opacity: 0.8;
}

table tbody, table thead
{
    display: block;
}

table tbody 
{
   overflow: auto;
   height: 600px;
}
th:first-child{
    width: 105px;
    text-align: left;
    background-color: #3E8C84;
    color: white;
}
th:nth-child(2){
    width: 510px;
    text-align: left;
    background-color: #3E8C84;
    color: white;
}
th:last-child{
    width: 120px;
    text-align: left;
    background-color: #3E8C84;
    color: white;
}

.firstrow' th {
    background-color: 194759;
}


#contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
}
 
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 














